.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
.Rprofile
CTM_output.RData
Rplot1.png
Rplot10.png
Rplot11.png
Rplot12.png
Rplot13.png
Rplot14.png
Rplot15.png
Rplot16.png
Rplot17.png
Rplot18.png
Rplot19.png
Rplot2.png
Rplot20.png
Rplot3.png
Rplot4.png
Rplot5.png
Rplot6.png
Rplot7.png
Rplot8.png
Rplot9.png
animate.sty
animation.aux
animation.log
animation.mp4
animation.pdf
animation.tex
animfp.sty
blei03a.pdf
css
example.Rmd
example.html
example2.html
example_files
images
index.html
js
libs
out
parliament2015.RData
